body {

    background-image: url("../Imagens/PAISAGEM\ I.JPG");
    background-repeat: no-repeat;
    background-size: 1920px 960px;
}
label {
    color: white;
   
}

h1 {
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    border-style: groove;
    margin: 25px 50px;
}
h2 {
    color: white;
}
p , a {
    color: white;
}

footer { 
    text-align: right;
    color: white;
}
        
   
#menu ul li { 
    display:list-item;
    }
#menu ul li a {
    padding: 2px 10px;
    display:inline-block;
    background-color: rgb(161, 161, 172);
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #ededed;
}
#menu ul li a:hover {
    background-color: darkkhaki;
    color: darkslateblue;
    border-bottom: 3px solid #baaadf;
}

